<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 <link rel="stylesheet" href="./style.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <h1>Cash Book</h1>
        </div>
        <div>
            <input class="inputbox" type="text" placeholder="cash Book"><i class="fa-solid fa-magnifying-glass"></i>

        </div>
        <div>
            <button class="addbutton"><a href="./form.html">+Add cash</a></button>
        </div>
    </nav>
    <table>
        <tr>
            <th>Date</th>
            <th>Cash In</th>
            <th>Cash Out</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <footer>
        <table>
            <tr>
                 <th>Total Cash In:</th>
                 <th>Total Cash Out:</th>
                 <th>Balance:</th>
            </tr>
        </table>
    </footer>
</body>
</html>
